/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Merriweather', serif; */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  width: 100%;
  padding-bottom: 190px;
  background-color: #eff0f2;
  opacity: 0.99;
}

.header__nav {
  padding: 65px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  width: 113px;
  height: 46px;
  border: 6px solid #170f1c;
  text-align: center;
}

.header__logo:hover {
  opacity: .5;
}

.site__name {
  text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
  color: #000;
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.02px;
  padding: 3px;
}

.site__name span {
  color: #77efe5;
  font-size: 21px;
  letter-spacing: 1.26px;
}

.burger__menu {
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  opacity: 0.6;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
}

.header__text-wrap {
  width: 981px;
  height: 113px;
  margin: 0 auto;
}

.header__header-text {
  text-align: center;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  color: #505050;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.header__header-text>p span {
  background-color: rgba(188, 244, 234, .7);
}

.header__contact {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.header__contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 232px;
  height: 53px;
  border: 2px solid #777879;
  border-radius: 2px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.16px;
}

.header__contact-btn:hover {
  background-color: rgba(188, 244, 234, .5);
}

.header__glass {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.header__glass img {
  position: absolute;
  top: -15px;
  right: 85px;
}

.section__about-us,
.section__featured,
.section__services {
  margin-top: 125px;
}

.section__about-us h2,
.section__featured h2,
.section__services h2 {
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.28px;
  margin-bottom: 16px;
}

.section__about-us>p,
.section__featured>p,
.section__services>p {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.08px;
  opacity: 0.6;
}

.section__about-info {
  margin-top: 145px;
  display: flex;
  justify-content: space-around;
}

.section__about-text {
  width: 480px;
  height: 415px;
}

.section__about-text h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  margin-bottom: 28px;
}

.section__about-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.8px;
  opacity: 0.7;
}

.section__about-text p+p {
  margin-top: 45px;
}

.section__banners {
  margin-top: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section__banners img {
  margin-bottom: 15px;
}

.section__banners img:hover {
  cursor: pointer;
  opacity: .5;
}

.section__services-block {
  display: flex;
  margin-top: 120px;
  flex-wrap: wrap;
}

.section__services-block-650 {
  border: 1px solid red;
  width: 650px;
  height: 422px;
  margin: 15px;
}

.section__services-block-430 {
  border: 1px solid green;
  width: 430px;
  height: 422px;
  margin: 15px;
}